@tailwind base;

@tailwind components;

@tailwind utilities;

html, body {
    width: 760px;
    height: 560px;
}

::-webkit-scrollbar {
    display: none;
}

.app-region-drag {
    -webkit-app-region: drag
}

.app-region-nodrag {
    -webkit-app-region: no-drag
}